name: latest-release

# Controls when the workflow will run
on:
  # Triggers the workflow on push for the main branch and daily at 0:00
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build image
        run: docker build --build-arg GITHUB_TOKEN="$GITHUB_TOKEN" --platform linux/amd64,linux/arm64,linux/arm/v7 -t sebastianalbers/gitea:latest .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push images to Docker Hub
        run: |
          if [ "$GITHUB_EVENT_NAME" == "push" ]; then
            echo "Pushing images to Docker Hub ..."
            ./push-images.sh
          else
            version=$(./read-version.sh)
            if [[ -n $(./version-at-docker-hub.sh "${version}") ]]; then
              echo "The tag ${version} is already available at Docker Hub."
            else
              echo "The tag ${version} is not available at Docker Hub."
              echo "Pushing images to Docker Hub ..."
              ./push-images.sh
            fi
          fi

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: sebastianalbers/gitea
          short-description: ${{ github.event.repository.description }}
